*~
*.~*
*.egg-info
*.lprof
*.orig
*.profile
*.pyc
*__pycache__*
*.mypy_cache/
.cache
.coverage
.DS_Store
.env
.idea
.project
.pydevproject
.pytest_cache
.python-version
.Python
.settings
.sonar
.tags
.tags_sorted_by_file
.tox
.vscode
coverage_html_report
coverage.xml
htmlcov
pip-wheel-metadata/
profile*
pyshell.history
tmp
venv*/
